/*
 * Theme CSS
 */
 .backgroundHome {
     background-color: #0b0b0b66;
 }
 
 .uk-card-default {
     color: #ffffff;
 }
/*
 * Nav
 */

.uk-nav {}

.uk-active {}

.uk-parent {}

.uk-nav-sub {}

/*
 * Page and Posts
 */

.uk-article {}

.uk-article-title {}

.uk-article-meta{}

/*
 * Subnav
 */

.uk-subnav {}

/*
 * Pagination
 */

.uk-pagination {}

.uk-pagination-previous {}

.uk-pagination-next {}

/*
 * Comment
 */

.uk-comment-list {}

.uk-comment {}

.uk-comment-header {}

.uk-comment-avatar {}

.uk-comment-title {}

.uk-comment-meta {}

.uk-comment-meta {}

.uk-comment-body {}

/*
 * Form
 */

.uk-form {}

.uk-form-stacked {}

.uk-form-row {}

.uk-form-label {}

.uk-form-controls {}

.uk-form-width-medium {}

.uk-form-width-large {}

.uk-form-help-block

/*
 * Button
 */

.uk-button {}

.uk-button-primary {}

/*
 * Utility
 */

.uk-width-1-1 {}

.uk-margin {}

.uk-margin-large {}

.uk-h4 {}

.uk-text-danger {}

.uk-link-muted {}

.uk-display-block{}

.footer {
    background-color: #A43D6D;
}
