/*
 * Theme CSS
 */

/*
 * Nav
 */
 /* body {
     color: #fff;
 } */

.backgroundHome {

    background-color: #0b0b0b66;
}
.nav-wrap {
    background-color: #A43D6D;
    color: #fff;
    float: right;
}

.uk-nav {
    float: right;
}

.uk-nav > li {
    display: table-cell;
    vertical-align: middle;
}

.uk-nav > li > a {
    color:#fff;
    /* display: block; */
    color: white;
    /* text-align: center; */
    padding: 14px 16px;
    /* text-decoration: none; */
}

.uk-nav > li:hover > a,
.uk-nav > li > a:focus,
.uk-nav > li.uk-open > a {  text-decoration: underline; }

.uk-nav > li > a:active {  text-decoration: underline; }

.uk-nav > li.uk-active > a {  text-decoration: underline; }

.uk-active {}

.uk-parent {}

.uk-nav-sub {}

/*
 * Page and Posts
 */

.uk-article {}

.uk-article-title {
    color: #fff;
    text-align: center;
    margin-top: 40px;
}

.uk-article-meta{}

/*
 * Subnav
 */

.uk-subnav {}

/*
 * Pagination
 */

.uk-pagination {}

.uk-pagination-previous {}

.uk-pagination-next {}

/*
 * Comment
 */

.uk-comment-list {}

.uk-comment {}

.uk-comment-header {}

.uk-comment-avatar {}

.uk-comment-title {}

.uk-comment-meta {}

.uk-comment-meta {}

.uk-comment-body {}

/*
 * Form
 */

.uk-form {}

.uk-form-stacked {}

.uk-form-row {}

.uk-form-label {}

.uk-form-controls {}

.uk-form-width-medium {}

.uk-form-width-large {}

.uk-form-help-block

/*
 * Button
 */

.uk-button {}

.uk-button-primary {}

/*
 * Utility
 */

.uk-width-1-1 {}

.uk-margin {}

.uk-margin-large {}

.uk-h4 {}

.uk-text-danger {}

.uk-link-muted {}

.uk-display-block{}

.uk-card-default {
    color: #ffffff;
}
/* footer */
.footer {
    background-color: #A43D6D;
    color: #ffff;
    width: 100%;
}
